{% extends "base.html" %}
{% block head_content %}
<link rel="stylesheet" href="/static/css/annotorious.min.css">
<script src="/static/js/tags.js"></script>
<script src="/static/js/annotorious.min.js"></script>
<script src="/static/js/custom_widgets.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock head_content %}
{% block content %}
<main class="w-full flex-grow bg-white p-8 shadow-lg rounded-lg">
    <h1 class="text-3xl font-semibold mb-6 text-gray-900 text-center">Dodaj Zdjęcie</h1>
    <form id="add_form" action="/add" method="POST" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        <div>
            <label for="awers" class="block text-sm font-medium text-gray-700">Wybierz zdjęcie</label>
            <div class="relative mt-1">
                {{ form.image }}
                <label for="awers" class="block w-full text-center py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-500 bg-white hover:bg-teal-50 cursor-pointer focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-teal-400">
                    Wybierz plik
                </label>    
            </div>
        <div id="image-container" class="hidden mt-6 flex justify-center">
            <img id="image" src="#" alt="Podgląd zdjęcia" class="w-full max-h-[800px] object-contain">
        </div>

        <div>
            <label for="description" class="block text-sm font-medium text-gray-700">Opis zdjęcia</label>
            {{ form.description }}
        </div>

        <div>
            {{ form.tags }} 

        </div>
        <div>
            <label for="tagsjs" class="block text-sm font-medium text-gray-700">Tagi</label>
            <input id="tagsjs" type="text" name="tagsjs" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-teal-400 focus:border-teal-400 sm:text-sm" placeholder="Wpisz tagi oddzielone przecinkami, np. &#x27;wakacje, rodzina&#x27;" id="tags" maxlength="255"> 
            <div id="tagsContainer" class="tag-container"></div>

        </div>

        <div class="flex justify-center">
            <button type="submit" class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-400 hover:bg-teal-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-400">
                Prześlij zdjęcie
            </button>
        </div>
        {{ form.additional_data }} 
    </form>

</main>
</div>

<script>

let tagsContainer = document.getElementById('tagsContainer');

document.getElementById('tagsjs').addEventListener('keydown', function(e) {
        if (e.key === " ") {
            e.preventDefault();
            let input = e.target.value;
            if (input.startsWith('#')) {
                createTagElement(value=input, input, tagsContainer, function (value) {
                document.getElementById('djtags').value = document.getElementById('djtags').value.replace(value, '');
            })
                document.getElementById('djtags').value += input
                e.target.value = ""
            } else {
                e.target.value = null;
            }
        }
    });

const photoInput = document.getElementById('awers');
const imageContainer = document.getElementById('image-container');
const imageElement = document.getElementById('image');
let anno;

photoInput.addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            imageElement.src = e.target.result;
            imageContainer.classList.remove('hidden');

            if (anno){
                anno.destroy();
            }
            anno = Annotorious.init({
                image: imageElement,
                widgets: [
                    NameWidget,
                    LastNameWidget,
                ],
                formatters: [
                    NameAndLastNameFormatter,
                ]
            });

            anno.on('createAnnotation', (annotation) => {
            });
        }
        reader.readAsDataURL(file);
        var data = new FormData();
        data.append("file", $("input[id^='awers']")[0].files[0]);
        
        $.ajax({
                type: "POST",
                url: "{% url 'recognize_face' %}",
                contentType: false,
                processData: false,
                mimeType: "multipart/form-data",
                data: data,
                success: function (response) {
                    var res = JSON.parse(response)
                    jsonObject = res
                    for (let key in jsonObject) {
                        if (jsonObject.hasOwnProperty(key)) {
                            const entry = jsonObject[key];
                            

                            topX = entry.coords[3]
                            topY = entry.coords[0]
                            width = entry.coords[1] - topX
                            height = entry.coords[2] - topY
               
                            if (entry.recognized == false) {
                                    var person = { 
                                    "@context": "http://www.w3.org/ns/anno.jsonld",
                                    "id": topX,
                                    "type": "Annotation",
                                    "body": [{
                                        "type": "TextualBody",
                                        "purpose": "name",
                                        "value": null
                                    },
                                    {
                                        "type": "TextualBody",
                                        "purpose": "lastName",
                                        "value": null
                                    }],
                                    "target": {
                                    "selector": {
                                        "type": "FragmentSelector",
                                        "conformsTo": "http://www.w3.org/TR/media-frags/",
                                        "value": 'xywh=pixel:'+ topX + ',' + topY + ',' + width + ',' + height 
                                    }
                                    },
                                };
                            } else {
                                var person = { 
                                    "@context": "http://www.w3.org/ns/anno.jsonld",
                                    "id": topX,
                                    "type": "Annotation",
                                    "body": [{
                                        "type": "TextualBody",
                                        "purpose": "name",
                                        "value": entry.name
                                    },
                                    {
                                        "type": "TextualBody",
                                        "purpose": "lastName",
                                        "value": entry.last_name
                                    }],
                                    "target": {
                                    "selector": {
                                        "type": "FragmentSelector",
                                        "conformsTo": "http://www.w3.org/TR/media-frags/",
                                        "value": 'xywh=pixel:'+ topX + ',' + topY + ',' + width + ',' + height 
                                    }
                                    },
                                };
                            }
                        anno.addAnnotation(person)
                        }
                    }
                }
            });
    }
});


document.getElementById('add_form').addEventListener('submit', function(event) {
    event.preventDefault(); 
    const additionalDataInput = document.getElementById('additional_data');
    additionalDataInput.value = JSON.stringify(anno.getAnnotations());
    this.submit();
});

</script>
{% endblock content %}
